extends layout
block content
    .content-wrapper--sm.main-content
        h2.mb-4 #{title}
        ul.list-group
        each category in categories
            li.list-group-item.d-flex.justify-content-between.align-items-center
                a(href="/articles/category/" + category._id) #{category.title}
                span.badge.badge-info.badge-pill #{category.numberOfArticles}
