extends ../../layout
block content
    .content-wrapper.main-content
        .d-flex.flex-row.flex-wrap.justify-content-start.align-items-center.mb-4
            h1.mr-4 Управление категориями
            a.ml-4.btn.btn-primary(href="/manage/categories/add") Добавить категорию
        != messages()
        if categories.length > 0
            table.table.table-bordered.table-hover
                thead
                    tr
                        th(scope="col") #
                        th(scope="col") Title
                        th(scope="col") Description
                        th(scope="col") Delete
                        th(scope="col") Edit
                tbody
                    each category, index in categories
                        tr
                            th(scope="row") #{index + 1}
                            td #{category.title}
                            td #{category.description}
                            td
                                button.btn.btn-outline-danger.delete-category.mx-4(data-id=category._id) Delete
                            td
                                a.btn.btn-outline-warning(href="/manage/categories/edit/" + category._id) Edit
